.movie-detail {
  padding: 1rem 1rem;
  background-color: #232323;
}
.movie-img {
  min-width: 300px;
  min-height: 400px;
  margin-right: 2rem;

  img {
    width: 300px;
  }
}
.min-long {
  display: flex;
  align-items: center;
  padding: 20px;
}
.heading-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: 2rem;

  h2 {
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0;
    color: #ffffff;
  }
  .rate-circle {
    font-size: 25px;
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid #555555;
    color: #a1e66f;
    padding: 1rem;
  }
}

.small-detail {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;

  span {
    color: #f65261;
    padding-right: 5px;
    font-size: 25px;
  }
}
.movie-overview {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-align: justify;
}

.movie-genere {
  text-align: start;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.top {
  width: 100%;
  height: 50px;
}

.search {
  cursor: pointer;
  top: 4%;
  position: absolute;
  right: 3%;
}
.movie-info {
  display: flex;
}
