.Add-btn{
    display: inline-block;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;


    button{
    background-color:#555555;
    opacity: .8;
    border: none;
    border-radius: 3px;
    width: 150px;
    padding: 5px 15px;
    height: 45px;
    font-size: 17px;
    font-weight: 700;
    color: #f65261;
    cursor: pointer;}
}
.search-btn {
    display: inline-block;
    button{
    background-color: #f65261;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;}
}