.logo {
  display: inline-block;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;

  a {
    text-decoration: none;
    color: #f65261;
    font-weight: 900;
    font-size: 22px;
    padding-left: 3rem;
  }
  bdi {
    font-weight: normal;
  }
}
