.Nav-bg {
    background:url("../Images/movie.jpg");
    height: 350px;
    filter: blur(2px);
    background-position: center;
 
}
.Nav-contaner{
   top: 0;
   height: 350px;

    position: absolute;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 0, 0, 0.1));
    width: 100%;
}