input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #232323;
  color: #ffffff;
  border: none;
  width: 70%;
  height: 45px;
  margin-right: 0.5rem;
  padding-left: 1rem;
  border-radius: 3px;
  font-size: 21px;
  font-weight: 100;
  outline: none;
  opacity: 0.8;
}
::placeholder {
  color: gray;
  font-size: 21px;
  font-weight: lighter;
}
