.FormModalContaner {
  color: white;
  z-index: 1;
  width: 700px;
  height: 600px;
  background: #232323;
  display: flex;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .close {
    top: 2%;
    position: absolute;
    right: 3%;
  }
}
